/*
- ROOT SCALING
- MARKUP
  - MARKUP reset
  - MARKUP elements
  - MARKUP page components
    - .login
    - .nav--top
    - .table
  - MARKUP global components
- TEXT
  - TEXT elements
  - TEXT global components
- STYLING
  - STYLING elements
  - STYLING header borders
  - STYLING major components
  - STYLING minor components
*/

/* ROOT SCALING */

:root {
    font-size: 16px;
    color-scheme: dark;
    /* REM size definition. */
}

@media (max-width: 2560px) {
    :root {
        font-size: 22px;
    }
}

@media (max-width: 1920px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    :root {
        font-size: 11px;
    }
}

/* MARKUP */

/* MARKUP reset */

body, div, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

body {
    line-height: 1;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* MARKUP components */

.project--grid {
    height: 100%;
    display: flex;
}

    @media (max-width: 768px) {
        .project--grid {
            flex-direction: column;
        }
    }

.project {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .project + .project {
        border-left: 1px solid #adc8eB24;
    }

    @media (max-width: 768px) {
        .project + .project {
        border-top: 1px solid #adc8eB24;
        }
    }

.logo {
    width: 20rem;
}

/* STYLING elements */

body {
    background: #223348;
}