/*
- ROOT SCALING
- MARKUP
  - MARKUP reset
  - LAYOUT elements
  - LAYOUT components
*/

/* ROOT SCALING */

:root {
    /* font-size: 16px; */
    color-scheme: dark;
}

:root {
    font-size: 22px;

    @media (max-width: 1920px) {
        font-size: 14px;
    }

    @media (max-width: 768px) {
        font-size: 13px;
    }

    @media (max-width: 375px) {
        font-size: 12px;
    }

    @media (max-width: 320px) {
        font-size: 11px;
    }
}

/* LAYOUT */

/* MARKUP reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    line-height: 1;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* LAYOUT elements */

body {
    background: #223348;
}

/* LAYOUT components */

.project--grid {
    height: 100%;
    display: flex;
}

    @media (max-width: 1200px) {
        .project--grid {
            flex-direction: column;
        }
    }

.project {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .project + .project {
        border-left: 1px solid #adc8eB24;
    }

    @media (max-width: 1200px) {
        .project + .project {
        border-top: 1px solid #adc8eB24;
        }
    }

.logo {
    max-height: 6rem;
    width: 20rem;
}