/* variables */
:root {
    --rem: 14px;
    --border-l1: 1rem;
    --border-l2: 0.5rem;

    --background-l0: hsl(0 0 5);
    --background-l1: hsl(0 0 10);
    --button: hsl(0 0 15);

    --font-family: "Arimo", "Inter", sans-serif;
    --text-primary: hsl(0 0 90);
    --text-secondary: hsl(0 0 60);
}

/* reset */
:root {
    font-size: var(--rem);
}

body, p {
    margin: 0;
}

a, button {
    all: unset;
    cursor: pointer;
}

/* styles */
body {
    padding: 1rem;

    background-color: var(--background-l0);
}

p {
    font-family: var(--font-family);
    color: var(--text-primary);

    &.secondary {
        color: var(--text-secondary);
    }
}

.header {
    height: 8rem;

    display: flex;
    justify-content: space-between;

    background-color: var(--background-l1);
    border-radius: var(--border-l1);
}

.banner {
    height: 100%;
    padding: 1rem;
    gap: 1rem;

    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.avatar {
    height: 6rem;
    width: 6rem;

    background-color: var(--button);
    border-radius: var(--border-l2);
}

.menu {
    height: 100%;
    padding: 1rem;
    gap: 1rem;

    display: flex;
    box-sizing: border-box;
}

.menu a {
    width: 12rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: var(--button);
    border-radius: var(--border-l2);

    &:focus {
        outline: 3px solid red;
    }
}