/* reset */
body {
    margin: 0;
}

/* variables */
:root {
    --background-dark: hsl(0 0 5);
    --background-light: hsl(0 0 95);
}

/* styles */
body {
    background-color: var(--background-dark);
}