/*
- ROOT SCALING
- MARKUP
  - MARKUP reset
  - MARKUP elements
  - MARKUP page components
    - .login
    - .nav--lateral
    - .nav--top
    - .header
    - .dashboard
    - .kanban
    - .table
  - MARKUP global components
- TEXT
  - TEXT elements
  - TEXT global components
- STYLING
  - STYLING elements
  - STYLING header borders
  - STYLING major components
  - STYLING minor components
*/

/* ROOT SCALING */

:root {
    font-size: 16px;
    color-scheme: dark;
    /* REM size definition. */
}

@media (max-width: 2560px) {
    :root {
        font-size: 22px;
    }
}

@media (max-width: 1920px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    :root {
        font-size: 11px;
    }
}

/* MARKUP */

/* MARKUP reset */

body, div, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

body {
    line-height: 1;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* MARKUP elements */

input {
    flex: 1;
    width: 0;
}

table {
    min-width: 100%;
    white-space: nowrap;
    border-collapse: separate;
    border-spacing: 0;
}

    table.cadastro_score {
        width: 100%;
        min-width: 40rem;
        table-layout: fixed;
    }

@media (max-width: 768px) {
    col.descricao {
        display: none;
    }

    table#cadastro_score > tbody > tr > td:nth-child(2) {
        display: none;
    }

    table#cadastro_score > thead > tr > th:nth-child(2) {
        display: none;
    }
}

th {
    height: 3.25rem;
    text-align: left;
    padding: 0 1rem;
}

td {
    height: 3.25rem;
    padding: 0 1rem;
}

    td.nesting {
        padding: 0 1rem 0 2rem;
    }

col.action {
    width: 5rem;
}

/* MARKUP page components */

/* .login */

@media (max-width: 2560px) {
    .login--body {
        height: 100%;
        display: flex;
        background-image: url(img/bg_001.png);
        background-size: 1000px;
        background-position: -3rem center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 1300px) {
    .login--body {
        flex-direction: column;
        background-size: 800px;
        background-position: center;
        background-position-y: 30rem;
    }
}

@media (max-width: 320px) {
    .login--body {
        background-size: 600px;
        background-position-y: 25rem;
    }
}

@media (max-width: 2560px) {
    .login--padding {
        flex: 1;
        padding: 2rem;
    }
}

@media (max-width: 1300px) {
    .login--padding {
        flex: 0;
        padding: 0;
    }
}

.login--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    box-sizing: border-box;
}

/* .nav--lateral */

.nav--lateral {
    height: 100vh;
    width: 20rem;
    display: none;
    flex-direction: column;
    padding: 1.25rem 2rem;
    gap: 2rem;
    overflow: auto;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
}

.nav--lateral--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav--lateral--body {
    display: flex;
    flex-direction: column;
}

.nav--lateral--tab {
    display: flex;
    flex-direction: column;
}

.nav--lateral--tab--header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--lateral--tab--header--sub {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav--lateral--tab--body {
    display: flex;
    flex-direction: column;
}

.nav--lateral--tab--option {
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

    .nav--lateral--tab--option:last-child {
        margin-bottom: 1rem;
    }

/* .nav--top */

.nav--top {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: sticky;
    top: 0rem;
    box-sizing: border-box;
}

.nav--top--sub {
    gap: 1rem;
    display: flex;
    align-items: center;
}

/* .header */

.header {
    display: flex;
    flex-flow: row wrap;
}

.header--sub {
    flex: 1 40rem;
    display: flex;
    flex-flow: row wrap;
}

/* .dashboard */

.dashboard--body {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.dashboard--card {
    height: fit-content;
    flex: 1 30%;
    /* Means if there is no space for another .card of 30% width (main row axis) it breaks to a new line, ensuring there will always be 3 cards max in each line. */
    min-width: 25rem;
    /* Means .card minimum width is 25rem, ensuring card breaks to a new line after the value is hit since flex-basis is 30% and will never be untrue unless child elements have fixed width that make the .card overflow. */
}

.dashboard--card--header {
    height: fit-content;
    display: flex;
}

.dashboard--card--header--sub {
    flex: 1;
    display: flex;
}

.dashboard--card--body {
    padding: 0 1rem;
}

.dashboard--card--footer {
    display: flex;
    justify-content: right;
    padding: 1rem;
}

/* .kanban */

.kanban--body {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    overflow-x: scroll;
}

.kanban--column {
    height: fit-content;
    flex: 0 0 25rem;
    display: flex;
    flex-direction: column;
}

.kanban--column--body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.kanban--card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

/* .table */

.table--body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.table--card {
    flex: 1;
    min-width: 25rem;
}

.table--card--header {
    height: fit-content;
    display: flex;
}

.table--card--header--sub {
    flex: 1;
    display: flex;
}

.table--card--body {
    padding: 0 1rem;
    overflow: auto;
}

/* MARKUP global components */

.group--action {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    gap: 1rem;
}

.group--action--sub {
    display: flex;
    gap: 1rem;
}

.avatar {
    display: flex;
    position: relative;
}

    .avatar--photo {
        height: 2rem;
        width: 2rem;
    }

    .avatar--status {
        height: 0.6rem;
        width: 0.6rem;
        position: absolute;
        right: 0;
        bottom: 0;
    }

.badge {
    width: fit-content;
    display: flex;
    padding: 0.5rem;
    white-space: nowrap;
}

    .group--badge {
        display: flex;
        gap: 0.5rem;
    }

.button {
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.8rem;
    gap: 0.5rem;
}

    .group--button {
        display: flex;
        gap: 0.5rem;
    }

    .login--body .button {
        width: 100%;
        box-sizing: border-box;
    }

    .login--body .group--button {
        width: 100%;
        max-width: 25rem;
        flex-direction: column;
    }

.group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter {
    flex: 1;
    display: flex;
    gap: 1rem;
}

    @media (max-width: 2560px) {
        .group--filter {
            display: flex;
            padding: 1rem 2rem;
            gap: 1rem;
            position: sticky;
            top: 4rem;
        }
    }
    
    @media (max-width: 768px) {
        .group--filter {
            flex-flow: column;
        }
    }

.highlight {
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .group--highlight {
        flex: 1 20rem;
        display: flex;
    }

.highlight--data {
    flex: 1;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

@media (max-width: 425px) {
    .highlight--data {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: start;
        padding: 2rem;
        gap: 1rem;
    }
}

.highlight--data--sub {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.highlight-s {
    flex: 1;
    display: flex;
    flex-flow: column;
}

    .group--highlight-s {
        flex: 1;
        display: flex;
    }

.highlight-s--data {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 0.5rem;
}

.highlight--label {
    height: 0.25rem;
}

.icon {
    width: 1.5rem;
}

    .icon.size-s {
        width: 1rem;
    }

    .icon.size-xs {
        width: 0.6rem;
    }

.logo {
    width: 7rem;
}

    @media (max-width: 2560px) {
        .login--body .logo {
            width: 17.5rem;
        }
    }

    @media (max-width: 768px) {
        .login--body .logo {
            width: 15rem;
        }
    }

.popover {
    left: 41rem;
    top: 40rem;
    display: none;
    position: absolute;
    width: fit-content;
    padding: 1rem;
}

.sorting {
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
}

.text--field {
    height: 2.2rem;
    min-height: 2.2rem;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    gap: 0.5rem;
}

    .group--text--field {
        display: flex;
        gap: 1rem;
    }

    .login--body .group--text--field {
        width: 100%;
        max-width: 25rem;
        flex-direction: column;
    }

.text--field--label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    flex: 1 20rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
}

@media (max-width: 425px) {
    .title {
        flex: 1 20rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        box-sizing: border-box;
    }
}

    .group--title {
        min-height: 7.5rem;
        flex: 1;
        display: flex;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
        box-sizing: border-box;
    }

.title--sub {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-s {
    min-height: 2rem;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.5rem;
}

    .group--title-s {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 1rem;
        gap: 0.5rem;
        box-sizing: border-box;
    }

/* MARKUP global modifiers */

.padding {
    flex: 1;
}

.right {
    justify-content: right;
    text-align: right;
}

.underline {
    text-decoration: underline;
}

/* TEXT */

/* TEXT elements */

body, input {
    font-family: "Inter";
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
    color: #f5f9ff;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #f5f9ff;
    line-height: 1.75rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #f5f9ff;
    line-height: 1.5rem;
}

h6, th {
    font-size: 0.9rem;
    font-weight: 600;
    color: #f5f9ff;
    text-transform: uppercase;
}

p, td, input {
    font-size: 1rem;
    font-weight: 400;
    color: #ebf4ffe6;
}

    p.secondary {
        font-weight: 500;
        color: #d9e8fcb0;
    }

    p.tertiary, input::placeholder {
        font-weight: 500;
        color: #c9ddf880;
    }

    p.size-xs {
        font-size: 0.8rem;
    }

    p.link {
        color: #90bdf9;
    }

        .login--body p.link {
            text-align: center;
        }

/* TEXT global components */

.badge p {
    font-size: 0.9rem;
    font-weight: 500;
}

    .badge--contrast p {
        color: #e2eefecc;
    }

    .badge--success p {
        color: #12d965;
    }

    .badge--error p {
        color: #ff9e99;
    }

    .badge--warning p {
        color: #fecb45;
    }

.button p {
    font-size: 1rem;
    font-weight: 500;
}

    .button--primary p {
        color: #ebf4ffe6;
    }

    .button--secondary p {
        color: #90bdf9;
    }

/* STYLING */

/* STYLING elements */

body {
    background: #2b3d52;
}

input {
    background: none;
    border: none;
    outline: none;
}

thead, th, td {
    border-bottom: 1px solid #adc8eB24;
}

    tr:last-child > td {
        border-bottom: none;
    }

/* STYLING div borders */

.nav--lateral {
    border-right: 1px solid #adc8eB24;
}

.nav--top, .group--title, .group--title-s {
    border-bottom: 1px solid #adc8eB24;
}

.highlight, .highlight-s {
    border-left: 1px solid #adc8eB24;
    border-bottom: 1px solid #adc8eB24;
}

.group--filter {
    border-bottom: 1px solid #adc8eB24;
}

.dashboard--card--footer {
    border-top: 1px solid #adc8eB24;
}

.column--div {
    border-left: 1px solid #adc8eB24;
}

.padding {
    border-bottom: 1px solid #adc8eB24;
}

/* STYLING page components */

.login--body {
    background-color: #223348;
}

.nav--lateral {
    background: #2b3d52;
}

    .nav--lateral--tab--option:hover {
        background: #c0d5f20f;
        border-radius: 0.25rem;
    }

.nav--top {
    background: #223348;
}

.header {
    background: #223348;
}

.dashboard--card, .kanban--column, .table--card {
    background: #223348;
    border: 1px solid #b4cdee3d;
    border-radius: 0.5rem;
}

.kanban--card {
    background: #2b3d52;
    border-radius: 0.5rem;
}

/* STYLING global components */

.avatar--photo {
    border: 2px solid #b4cdee3d;
    border-radius: 50%;
}

.avatar--status {
    border: 2px solid #b4cdee3d;
    border-radius: 50%;
    box-sizing: border-box;
}

    .avatar--status.contrast {
        background: #c9ddf880;
    }

    .avatar--status.error {
        background: #e0241a;
    }

    .avatar--status.success {
        background: #158444;
    }

    .avatar--status.warning {
        background: #F5AF00;
    }

.badge {
    border-radius: 0.25rem;
}

    .badge--contrast {
        background: #c0d5f20f;
    }

    .badge--error {
        background: #e75d551a;
    }

    .badge--success {
        background: #0ff56f1a;
    }

    .badge--warning {
        background: #ffaa001a;
    }

.button {
    border-radius: 0.25rem;
}

    .button--primary {
        background: #0c6ce9;
    }

    .button--secondary {
        background: #c0d5f20f;
    }

.group--filter {
    background: #223348;
}

.highlight--label--contrast {
    background: #adc8eb24;
}

.highlight--label--primary {
    background: #0c6ce9;
}

.highlight--label--error {
    background: #e0241a;
}

.popover {
    background: #2b3d52;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem #0d0f1152, 0 0.15rem 0.25rem #05050512;
}

.text--field {
    background: #adc8eB24;
    border-radius: 0.25rem;
}