/*
- ROOT SCALING
- LAYOUT
  - MARKUP reset
  - LAYOUT elements
    - LAYOUT elements: general
    - LAYOUT elements: table
    - LAYOUT elements: table borders
  - LAYOUT navigation components
    - LAYOUT navigation components: .nav--top
    - LAYOUT navigation components: .tabsheet
  - LAYOUT page components
    - LAYOUT page components: .login
    - LAYOUT page components: .table
  - LAYOUT global components
  - LAYOUT div borders
- TEXT
  - TEXT elements
  - TEXT global components
*/

/* ROOT SCALING */

:root {
    /* font-size: 16px; */
    color-scheme: dark;
}

:root {
    font-size: 22px;
}

    @media (max-width: 1920px) {
        :root {
            font-size: 14px;
        }
    }

    @media (max-width: 768px) {
        :root {
            font-size: 13px;
        }
    }

    @media (max-width: 375px) {
        :root {
            font-size: 12px;
        }
    }

    @media (max-width: 320px) {
        :root {
            font-size: 11px;
        }
    }

/* LAYOUT */

/* MARKUP reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, div, h1, h2, h3, h4, h5, h6, p {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

body {
    line-height: 1;
}

select,
::picker(select) {
    padding: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    appearance: base-select;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

input {
    background: none;
    border: none;
    outline: none;
}

/* LAYOUT elements */

/* LAYOUT elements: general */

body {
    background: #2b3d52;
}

button {
    width: fit-content;
}

    .select button {
        width: 100%;
    }

input {
    width: 100%;
}

/* LAYOUT elements: table */

table {
    min-width: 100%;
    border-spacing: 0;
    white-space: nowrap;
}

    table#controle--produto col.col--quantidade {
        min-width: 10rem;
    }

    table#controle--cartao col.col--data {
        min-width: 15rem;
    }

th {
    height: 3.25rem;
    padding: 0 1rem;
}

    th.number {
        text-align: right;
    }

    th.error {
        background: #e75d5524;
    }

td {
    height: 3.25rem;
    padding: 0 1rem;
}

    td.error {
        background: #e75d5524;
    }

    tr.child > td {
        background: #c0d5f20f;
    }

    tr.child > td.error {
        background: #ea888324;
    }

    tr.child > td:first-child {
        padding: 0 1rem 0 2.75rem;
    }

    table td {
        overflow: hidden;
        text-overflow: ellipsis;
    }

/* LAYOUT elements: table borders */

th,
td {
    border-bottom: 1px solid #adc8eB24;
}

th + th,
td + td {
    border-left: 1px solid #adc8eB24;
}

tr:last-child > td {
    border-bottom: none;
}

    tfoot > tr > th {
        border-top: 1px solid #adc8eB24;
        border-bottom: none;
    }

.rowspan--fix {
    border-left: 1px solid #adc8eB24;
}

/* LAYOUT navigation components */

/* LAYOUT navigation components: .nav--top */

.nav--top {
    height: 4rem;
    position: sticky;
    z-index: 1;
    top: 0rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    background: #223348;
}

.nav--top--sub {
    gap: 1rem;
    display: flex;
    align-items: center;
}

/* LAYOUT navigation components: .tabsheet */

.tabsheet {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
    overflow-x: auto;

    background: #223348;
}

.tabsheet--tab {
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabsheet--title {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tabsheet--label {
    height: 0.2rem;
    width: 2rem;

    background: none;
    border-top-right-radius: 0.1rem;
    border-top-left-radius: 0.1rem;
}

    .tabsheet--tab.active .tabsheet--label {
        background: #0c6ce9;
    }

/* LAYOUT page components */

/* LAYOUT page components: .login */

.login--body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(img/bg_001.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #223348;
}

.login--card {
    width: 25rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #223348;
    border: 1px solid #b4cdee1a;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem -0.1rem #0d0f1129, 0 0.15rem 0.25rem -0.1rem #05050529;
}

.login--card--header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
}

.login--card--body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
}

/* LAYOUT page components: .table */

.table--body {
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.table--card {
    min-height: 0;
    min-width: 25rem;
    display: flex;
    flex-direction: column;

    background: #223348;
    border: 1px solid #b4cdee3d;
    border-radius: 0.5rem;
}

.table--card--body {
    flex: 1;
    padding: 0 1rem;
    overflow: auto;
}

/* LAYOUT global components */

    .group--action {
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: space-between;
        gap: 1rem;
    }

    .group--action--sub {
        display: flex;
        gap: 1rem;
    }

.avatar {
    height: 1.5rem;
    width: 1.5rem;
}

.badge {
    height: 1.5rem;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    gap: 0.5rem;

    border-radius: 0.25rem;
}

    .badge.contrast {
        background: #c0d5f20f;
    }

    .badge.error {
        background: #e75d551a;
    }

    .badge.success {
        background: #0ff56f1a;
    }

    .badge.warning {
        background: #ffaa001a;
    }

    .group--badge {
        display: flex;
        gap: 0.5rem;
    }

.button {
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.8rem;
    gap: 0.5rem;

    border-radius: 0.25rem;
}

    .button.primary {
        background: #0c6ce9;
    }

    .button.secondary {
        background: #c0d5f20f;
    }

    .login--body .button {
        width: 100%;
    }

    .group--button {
        display: flex;
        gap: 0.5rem;
    }

    .login--body .group--button {
        width: 100%;
        max-width: 25rem;
        flex-direction: column;
    }

.button--menu {
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.8rem;
    gap: 0.5rem;
}

    .button--menu.primary {
        background: #0c6ce9;
    }

    .button--menu.secondary {
        background: #c0d5f20f;
    }

    .button--menu:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    .button--menu:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    .group--button--menu {
        display: flex;
        gap: 0.15rem;
    }

.dropdown {
    flex: 1;
    position: relative;
}

.dropdown--item {
    height: 2.2rem;
    display: flex;
    align-items: center;
    padding: 0 1.75rem;
    gap: 0.5rem;
    white-space: nowrap;

    border-radius: 0.25rem;
}

    .dropdown--item.active {
        padding: 0 0.5rem;
    }

    .dropdown--item:hover {
        background: #0c6ce921;
    }

    .group--dropdown--item--padding {
        min-width: 100%;
        position: absolute;
        right: 0;
        display: none;
        padding-top: 0.3rem;
    }

    .group--dropdown--item {
        padding: 0.3rem;

        background: #2b3d52;
        outline: 1px solid #c0d5f20f;
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1.5rem -0.25rem #0d0f1142, 0 0.15rem 0.25rem -0.15rem #0505051A;
    }

        #nav_top_controle_button:hover ~ #nav_top_controle_dropdown,
        #nav_top_controle_dropdown:hover,
        .dropdown--show {
            display: block;
        }

.filter {
    flex: 1;
    display: flex;
    gap: 1rem;
}

    .group--filter {
        position: sticky;
        top: 4rem;
        display: flex;
        padding: 1rem 2rem;
        gap: 1rem;

        background: #223348;
    }

        @media (max-width: 768px) {
            .group--filter {
                flex-flow: column;
            }
        }

.group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    width: 1.5rem;
}

    .icon.size-s {
        width: 1rem;
    }

    .icon.size-xxs {
        width: 0.8rem;
    }

    .icon.size-xs {
        width: 0.6rem;
    }

.logo {
    width: 9rem;
}

    @media (max-width: 2560px) {
        .login--body .logo {
            width: 17.5rem;
        }
    }

    @media (max-width: 768px) {
        .login--body .logo {
            width: 15rem;
        }
    }

.select {
    flex: 1;
    position: relative;
    cursor: pointer;
}

.select--item {
height: 2.2rem;
position: relative;
display: flex;
align-items: center;
padding: 0 0.5rem;
gap: 0.5rem;
white-space: nowrap;

border-radius: 0.25rem;
}

    .select--item input {
        all: unset;
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    .select--item .icon {
        opacity: 0;
    }

    .select--item:has(input:checked) .icon {
        opacity: 100;
    }

    .select--item:hover {
        background: #0c6ce921;
    }

    .group--select--item {
        min-width: 100%;
        position: absolute;
        right: 0;
        display: none;
        flex-direction: column;
        padding: 0.3rem;
        z-index: 1;

        background: #2b3d52;
        outline: 1px solid #c0d5f20f;
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1.5rem -0.25rem #0d0f1142, 0 0.15rem 0.25rem -0.15rem #0505051A;
    }

        .group--select--item.overlay {
            top: 0;
        }

        .group--select--item.gap {
            top: 2.5rem;
        }

.sorting {
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
}

.text--field {
    flex: 1;
    height: 2.2rem;
    min-height: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    gap: 0.5rem;

    background: #adc8eB24;
    border-radius: 0.25rem;
}

    .group--text--field {
        display: flex;
        gap: 1rem;
    }

    .login--body .group--text--field {
        width: 100%;
        max-width: 25rem;
        flex-direction: column;
    }

.text--field--label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* LAYOUT global modifiers */

.show {
    display: flex;
}

.hide {
    display: none;
}

/* LAYOUT div borders */

.login--card--header {
    border-bottom: 1px solid #adc8eB24;
}

.nav--lateral {
    border-right: 1px solid #adc8eB24;
}

.nav--lateral--tab--option {
    border-bottom: 1px solid #adc8eB24;
}

.nav--top, .group--title, .group--title-s {
    border-bottom: 1px solid #adc8eB24;
}

.group--filter {
    border-bottom: 1px solid #adc8eB24;
}

.tabsheet {
    border-bottom: 1px solid #adc8eB24;
}

.padding {
    border-bottom: 1px solid #adc8eB24;
}

/* TEXT */

/* TEXT elements */

:root, button, input {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
    color: #f5f9ff;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #f5f9ff;
    line-height: 1.75rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #f5f9ff;
    line-height: 1.5rem;
}

h6, th {
    font-size: 0.9rem;
    font-weight: 600;
    color: #f5f9ff;

    text-align: left;
    text-transform: uppercase;
}

    h6.error, th.error {
        color: #ff9e99;
    }

p, td, input, select, button {
    font-size: 1rem;
    font-weight: 400;
    color: #ebf4ffe6;

    text-align: left;
}

    p.error, td.error {
        color: #ff9e99;
    }

    p.secondary {
        color: #d9e8fcb0;
    }

    p.tertiary, input::placeholder {
        color: #c9ddf880;
    }

    p.size-xs {
        font-size: 0.8rem;
    }

    p.link {
        color: #90bdf9;
    }

        .login--body p.link {
            text-align: center;
        }

    .select:not(.select--item input:checked) button {
    font-weight: 400;
    color: #c9ddf880;
    }

/* TEXT global components */

.badge p {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: none;
}

    .badge.contrast p {
        color: #e2eefecc;
    }

    .badge.success p {
        color: #12d965;
    }

    .badge.error p {
        color: #ff9e99;
    }

    .badge.warning p {
        color: #fecb45;
    }

.button p {
    font-size: 1rem;
    font-weight: 500;
}

    .button.primary p {
        color: #ebf4ffe6;
    }

    .button.secondary p {
        color: #90bdf9;
    }

.button--menu p {
    font-size: 1rem;
    font-weight: 500;
}

    .button--menu.primary p {
        color: #ebf4ffe6;
    }

    .button--menu.secondary p {
        color: #90bdf9;
    }

.tabsheet--tab p {
    color: #d9e8fcb0;
}

    .tabsheet--tab.active p {
        color: #90bdf9;
    }

.tabsheet--title p {
    white-space: nowrap;
}